:root {
  --border-radius: 12px;
  --very-light-red: hsl(13, 100%, 72%);
  --light-red: hsl(353, 100%, 62%);
  --grayish: hsl(240, 2%, 79%);
  --dark-grayish: hsl(207, 13%, 34%);
  --text-body: #1e425c;
  --dark-gray: hsl(237, 17%, 21%);
  --dark-blue: hsl(237, 23%, 32%);
  --very-dark-blue: hsl(240, 10%, 16%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
